* {
  background-color: black !important;
  color: #01ff84 !important;
}

.container {
  min-width: 600px;
}

.card {
  background-color: transparent !important;
  border-color: #01ff84;
  border-radius: 1rem;
  border-width: 2px;
  width: 300px;
}
